<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page?.menuItem?.title,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <% if ((currentUser && currentUser._id.$oid == page?.menuItem?.author?._id?.$oid) || (currentUser && currentUser?.roles.includes(0))) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.menuItem}) %>
  <% } %>
  <% if (page?.menuItem?.title) { %>
  <h1 class="text-center mb-4"><%= page.menuItem.title %></h1>
  <% } %>
  <% if (page?.menuItem?.url) { %>
    <p><%- page.menuItem.url %></p>
  <% } %>
  <% if (page?.menuItem?.data) { %>
    <% if (page.menuItem.data?.target) { %>
      <p><%- page.menuItem.data.target %></p>
    <% } %>
    <% if (page.menuItem.data?.weight) { %>
      <p><%- page.menuItem.data.weight %></p>
    <% } %>
  <% } %>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>