<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: content.data.title }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <% if (content.data) { %>
  <h1 class="text-center mb-3"><%= content.data.title %></h1>
    <div class="content">
      <% if (content.data.body) { %>
        <%- content.data.body %>
      <% } %>
    </div>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>