<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page?.media?.title,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  }) %>
<div class="container">
  <% if ((currentUser && currentUser._id.$oid == page?.media?.author?._id?.$oid) || (currentUser && currentUser?.roles.includes(0))) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.media}) %>
  <% } %>
  <% if (page?.media?.data) { %>
  <h1 class="text-center mb-4"><%= page.media.title %></h1>
    <div class="media text-center">
      <% if (page.media.data?.file) { %>
        <img alt="<%= page.media.data?.alt %>" id="img-original" src="/<%= page.media.data.file %>">
      <% } %>
    </div>
    <% if (page.media.data?.cropper) { 
      let cropper = JSON.parse(page.media.data.cropper);
    %>
      <fieldset class="border p-2 mt-2">
        <legend class="w-auto">Crops</legend>
        <div class="mb-3">
          <% for (let c in cropper) { %>
            <div class="mb-2">
              <%- await include(
                `${Deno.cwd()}/core/modules/cropper/views/croppedImageView.ejs`,
                {
                  imageID: "img-original",
                  type: c,
                  crop: cropper[c],
                  resize: false,
                });
              %>
            </div>
          <% } %>
        </div>
      </fieldset>
      <fieldset class="border p-2 mt-2">
        <legend class="w-auto">Crop with Resize</legend>
        <div class="d-flex mb-3">
            <div class="mb-2">
              <%- await include(
                `${Deno.cwd()}/core/modules/cropper/views/croppedImageView.ejs`,
                {
                  imageID: "img-original",
                  type: '16/9',
                  crop: cropper['16/9'],
                  resize: {
                    width: 200,
                    height: 112.50,
                  }
                });
              %>
            </div>
        </div>
      </fieldset>
    <% } %>
  <% } %>
  </div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
<script src="/cropper/assets/js/cropperView.js" type="text/javascript"></script>