<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page?.media?.title,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  }) %>
<div class="container">
  <% if ((currentUser && currentUser._id.$oid == page?.media?.author?._id?.$oid) || (currentUser && currentUser?.roles.includes(0))) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.media}) %>
  <% } %>
  <% if (page?.media?.data) { %>
  <h1 class="text-center mb-4"><%= page.media.title %></h1>
    <div class="media text-center">
      <% if (page.media.data?.file) { %>
        <img alt="<%= page.media.data?.alt %>" src="/<%= page.media.data.file %>">
      <% } %>
    </div>
    <% if (page.media.data?.cropper) { 
      let cropper = JSON.parse(page.media.data.cropper);
    %>
      <fieldset class="border p-2 mt-2">
        <legend class="w-auto">Crops</legend>
        <div class="mb-3 text-center">
          <% for (let c in cropper) { %>
            <div class="mb-2">
              <img class="mw-100" alt="<%= page.media.data?.alt %>" src="/<%= cropper[c].cropped.crop.url %>">
            </div>
          <% } %>
        </div>
      </fieldset>
    <% } %>
  <% } %>
  </div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
