<div class="text-center mt-3 p-2 bg-light">
  <a class="text-secondary" href='/admin/<%= content.bundle %>/<%= content.type.replace("_", "-") %>/edit/<%= content._id.$oid %>'>Edit</a> | 
  <a class="text-secondary" href='/admin/<%= content.bundle %>/<%= content.type.replace("_", "-") %>/delete/<%= content._id.$oid %>'>Delete</a>
</div>