<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: 'Content',
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-4">Content</h1>
  <fieldset class="border p-2">
    <legend  class="w-auto">Add</legend>
    <div class="d-flex mb-3">
      <div class="mr-2">
        <a href="/admin/content/basic_page/add" class="btn btn-light">Basic page</a>
      </div>
      <div class="mr-2">
        <a href="/admin/content/article/add" class="btn btn-light">Article</a>
      </div>
      <div class="mr-2">
        <a href="/admin/content/landing_page/add" class="btn btn-light">Landing page</a>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-2">
    <legend  class="w-auto">Filter</legend>
    <div class="d-flex mb-3">
      <form action="/admin/content" method="get">
        <div class="form-group">
          <input class="form-control form-control-sm" name="title" value="<%= filters.title %>" type="text" placeholder="Title">
        </div>
        <div class="row">
          <div class="col form-group">
            <label for="type">Type</label>
            <select class="form-control form-control-sm" id="type" name="type">
              <option value="any">Any</option>
              <option value="basic_page" <%- filters.type == "basic_page" ? "selected" : '' %>>Basic page</option>
              <option value="article" <%- filters.type == "article" ? "selected" : '' %> >Article</option>
              <option value="lading_page" <%- filters.type == "lading_page" ? "selected" : '' %>>Landing page</option>
            </select>
          </div>
          <div class="col form-group">
            <label for="published">Published</label>
            <select class="form-control form-control-sm" id="published" name="published">
              <option value="any">Any</option>
              <option value="true" <%- filters.published === true ? "selected" : '' %>>Yes</option>
              <option value="false" <%- filters.published === false ? "selected" : '' %>>No</option>
            </select>
          </div>
          <div class="col form-group d-flex align-items-end">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </div>
        <input type="hidden" id="pageNumber" name="pageNumber" value="0">
      </form>
    </div>
  </fieldset>
  <div class="mt-3">
    <% if (content) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Author</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Published</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < content.length; i++) { %>
          <tr>
            <th scope="row"><%= content[i]._id.$oid %></th>
            <td><a href='<%= content[i].path %>'><%= content[i].title %></a></td>
            <td><%= content[i].type %></td>
            <td><%= content[i].author.name %></td>
            <td><%= content[i].created %></td>
            <td><%= content[i].updated %></td>
            <td><%= content[i].published %></td>
            <td>
              <% if (currentUser._id.$oid == content[i].author._id.$oid || currentUser.roles.includes(0)) { %>
                <a href='/admin/content/<%= content[i].type %>/edit/<%= content[i]._id.$oid %>'>edit</a> | <a href='/admin/content/<%= content[i].type %>/delete/<%= content[i]._id.$oid %>'>delete</a>
              <% } %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <nav aria-label="page navigation">
        <ul class="pagination justify-content-center">
          <% if (pager.previous !== false ) { %>
            <li class="page-item">
              <a class="page-link text-dark" href="?title=<%= filters.title %>&type=<%= filters.type %>&published=<%= filters.published %>&pageNumber=<%= pager.previous %>" aria-label="Previous">&laquo;</a>
            </li>
          <% } %>
          <% if (pager.next || pager.previous !== false)  { %>
            <li class="page-item"><span class="page-link text-dark"><%- pager.current %></span></li>
          <% } %>
          <% if (pager.next) { %>
            <li class="page-item">
              <a class="page-link text-dark" href="?title=<%= filters.title %>&type=<%= filters.type %>&published=<%= filters.published %>&pageNumber=<%= pager.next %>" aria-label="Next">&raquo;</a>
            </li>
          <% } %>
        </ul>
      </nav>
    <% } %>
  </div>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>