<% function createMenuTree(children, prefix = '- '){ %>
  <% for (let i = 0; i < children.length; i++ ) { 
    let selected = (children[i]._id.$oid == page?.menuItem?.parent) ? "selected" : "";
  %>
    <% if (children[i]._id.$oid != page.menuItem?._id.$oid) { %>
      <option value="<%= children[i]._id.$oid %>" <%= selected %>><%= prefix + ' ' + children[i].title %></option>
      <% if (children[i]?.children) { %>
        <% createMenuTree(children[i].children, prefix + '-'); %>
      <% } %>
    <% } %>
  <% } %>
<% } %>

<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  { 
    title: page.entity.name,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-3"><%= page.entity.name %></h1>
  <% if (page.message) { %>
    <div class="alert alert-danger">
      <%= page.message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/menu_item/<%= page.entity.type %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= page?.menuItem?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= page?.menuItem?.title %>" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Url</label>
      <input type="text" required value="<%= page?.menuItem?.url %>" name="url" class="form-control">
    </div>
    <div class="form-group">
      <label for="type">Target</label>
      <% let target = page?.menuItem?.data?.target ? page.menuItem.data.target : '_self' %>
      <select class="form-control form-control-sm" required id="target" name="target">
        <option value="_self" <%- target == '_self' ? "selected" : '' %>>Self</option>
        <option value="_blank" <%- target == '_blank' ? "selected" : '' %>>Blank</option>
      </select>
    </div>
    <div class="form-group">
      <label>Weight</label>
      <% let weight = page?.menuItem?.data?.weight ? page.menuItem.data.weight : 0 %>
      <input type="number" min="0" required value="<%= weight %>" name="weight" class="form-control">
    </div>
    <div class="form-group">
      <label for="parent">Parent</label>
      <select class="form-control" name="parent" id="parent">
        <option value="">No parent</option>
        <%
          for (let i = 0; i < page.menuTree?.length; i++ ) {
            let selected = (page.menuTree[i]._id.$oid == page?.menuItem?.parent) ? "selected" : "";
        %>
          <% if (page.menuTree[i]._id.$oid != page.menuItem?._id.$oid) { %>
            <option value="<%= page.menuTree[i]._id.$oid %>" <%= selected %>><%= page.menuTree[i].title %></option>
            <% if (page.menuTree[i]?.children) { %>
              <% createMenuTree(page.menuTree[i].children); %>
            <% } %>
          <% } %>
        <% } %>
      </select>
    </div>
    <div class="form-check mb-3">
      <% let checked = page?.menuItem?.published ? "checked" : "" %>
      <input <%= checked %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-menu_item-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
      <% if (page?.menuItem?._id) { %>
        <div class="mr-2">
          <a href='/admin/<%= page.menuItem.bundle %>/<%= page.menuItem.type %>/delete/<%= page.menuItem._id.$oid %>' class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
