<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  { 
    title: page?.content?.title,
    currentUser: currentUser,
    main_menu: page.main_menu, 
    currentUrl: page.currentUrl
  });
%>
<div class="landing-page">
  <% if ((currentUser && currentUser._id.$oid == page?.content?.author?._id?.$oid) || (currentUser && currentUser?.roles.includes(0))) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.content}) %>
  <% } %>
  <% if (page?.content?.data) { %>
    <% if (page.content.data?.carousels && page.content.data.carousels.length > 0) { %>
      <% let carousels = page.content.data.carousels.sort(function(a, b){return a.weight - b.weight}) %>
      <% for(var i=0; i < carousels.length; i++) { %>
        <% if (carousels[i].entity.data?.items && carousels[i].entity.data.items.length > 0) { %>
          <% let items = carousels[i].entity.data.items.sort(function(a, b){return a.weight - b.weight}) %>
          <%- await include(
            `${Deno.cwd()}${Deno.env.get('THEME')}templates/components/carousel/carouselIndicatorsView.ejs`, 
            {
              items: items,
              id: 'carouselIndicators' + i
            });
          %>
        <% } %>
      <% } %>
    <% } %>
  <h1 class="text-center mb-4"><%= page.content.title %></h1>
    <% if (page.content.data?.references && page.content.data.references.length > 0) { %>
      <div class="mb-3">
        <div class="field-references text-center">
          <% let references = page.content.data.references.sort(function(a, b){return a.weight - b.weight}) %>
          <% for(var i=0; i < references.length; i++) { %>
            <% if (references[i].entity.type == 'image') { %>
              <div class="mb-4">
                <img class="img-fluid border border-dark" src="/<%= references[i].entity.data.file %>">
              </div>
            <% } else if (references[i].entity.type == 'video') { %>
              <div class="mb-4">
                <video class="img-fluid" height="300" controls="controls">
                  <source src="/<%= references[i].entity.data.file %>">
                </video>
              </div>
            <% } else if (references[i].entity.type == 'basic_block') { %>
              <div class="mb-4 bg-light p-5">
                <h2 class="mb-3"><%= references[i].entity.title %></h2>
                <%- references[i].entity.data?.body %>
              </div>
            <% } else if (references[i].entity.type == 'basic_page') { %>
              <div class="mb-4 bg-light p-5">
                <h2 class="mb-3"><%= references[i].entity.title %></h2>
                <%- references[i].entity.data?.body.substring(0,200) %>
                <a class="font-weight-bold" href="<%= references[i].entity.path %>">see more</a>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: page.footer, 
    currentUrl: page.currentUrl
  }); 
%>
