<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: page.content.data.title, currentUser: currentUser }) %>
<div class="container">
  <% if (currentUser) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.content}) %>
  <% } %>
  <% if (page?.content?.data) { %>
  <h1 class="text-center mb-3"><%= page.content.data.title %></h1>
    <% if (page?.content?.data?.body) { %>
      <div class="content">
        <%- page.content.data.body %>
      </div>
    <% } %>
    <% if (page?.content?.data?.images && page.content.data.images.length > 0) { %>
      <div class="mb-3">
        <div class="field-images text-center">
          <% let images = page.content.data.images.sort(function(a, b){return a.weight - b.weight}) %>
          <% for(var i=0; i < images.length; i++) { %>
            <img src="/<%= images[i].entity.data.image %>" height="200">
          <% } %>
        </div>
      </div>
    <% } %>
    <% if (page?.content?.data?.tags && page.content.data.tags.length > 0) { %>
      <div class="mb-3">
        <h5>Tags</h5>
        <div class="field-tags">
          <% let tags = page.content.data.tags.sort(function(a, b){return a.weight - b.weight}) %>
          <% for(var i=0; i < tags.length; i++) { %>
            <a href='<%= tags[i].entity.path %>' class="badge badge-primary"><%= tags[i].entity.data.title %></a>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>
