<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: content.data.title }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <% if (content?.data) { %>
  <h1 class="text-center mb-3"><%= content.data.title %></h1>
    <% if (content?.data?.body) { %>
      <div class="content">
        <%- content.data.body %>
      </div>
    <% } %>
    <% if (content?.data?.images && content.data.images.length > 0) { %>
      <div class="mb-3">
        <div class="field-images text-center">
          <% let images = content.data.images.sort(function(a, b){return a.weight - b.weight}) %>
          <% for(var i=0; i < images.length; i++) { %>
            <img src="/<%= images[i].entity.data.image %>" height="200">
          <% } %>
        </div>
      </div>
    <% } %>
    <% if (content?.data?.tags && content.data.tags.length > 0) { %>
      <div class="mb-3">
        <h5>Tags</h5>
        <div class="field-tags">
          <% let tags = content.data.tags.sort(function(a, b){return a.weight - b.weight}) %>
          <% for(var i=0; i < tags.length; i++) { %>
            <a href='/taxonomy/<%= tags[i].entity.type.replace("_", "-") %>/<%= tags[i].entity._id.$oid %>' class="badge badge-primary"><%= tags[i].entity.data.title %></a>
          <% } %>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>
