<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page.entity.name,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-3"><%= page.entity.name %></h1>
  <% if (page?.message) { %>
    <div class="alert alert-danger">
      <%= page.message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/content/<%= page.entity.type %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= page?.content?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= page?.content?.title %>" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Body</label>
      <textarea id="body" name="body" rows="10" cols="33" class="form-control">
        <%= page?.content?.data?.body %>
      </textarea>
    </div>
    <div class="form-group">
      <label>Images</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/entity_reference/views/entityReferenceFormView.ejs`,
        {
          field: 'images',
          entities: {
            "media": ["image"],
          },
          data: page?.content?.data?.images
        }
      ) %>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/entity_reference/views/entityReferenceFormView.ejs`,
        {
          field: 'tags',
          entities: {
            "taxonomy": ["tags"],
          },
          data: page?.content?.data?.tags
        }
      ) %>
    </div>
    <div class="form-check mb-3">
      <% let checked = page?.content?.published ? "checked" : "" %>
      <input <%= checked %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
      <% if (page?.content?._id) { %>
        <div class="mr-2">
          <a href='/admin/<%= page?.content.bundle %>/<%= page?.content.type %>/delete/<%= page?.content._id.$oid %>' class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
<link href="/libraries/ckeditor/ckeditor.css" type="text/css" rel="stylesheet">
<script src="/libraries/ckeditor/ckeditor.js" type="text/javascript"></script>
<script>
	ClassicEditor
		.create( document.querySelector('#body'), {
      toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
		} )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );
</script>
<script src="/core/themes/boostrap/assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/entity-reference/assets/js/templates.js" type="text/javascript"></script>
<script src="/entity-reference/assets/js/entityReference.js" type="text/javascript"></script>