<div class='entity-reference-container <%- field %>-container mb-3 border p-2'>
  <div class="entity-reference-entities mb-3" data-field='<%- field %>' data-entities='<%- JSON.stringify(entities) %>'>
  </div>
  <hr/>
  <div class="entity-reference-selected">
    <ul id="sortable-<%- field %>">
    </ul>
  </div>
  <input class="entity-reference" id='<%- field  %>' name='<%- field  %>' type="hidden" value='<%- data  %>'>
</div>
