<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, 
  {
    title: page?.content?.title,
    currentUser: currentUser,
    main_menu: page.main_menu, 
    currentUrl: page.currentUrl
  });
%>
<div class="container">
  <% if ((currentUser && currentUser._id.$oid == page?.content?.author?._id?.$oid) || (currentUser && currentUser?.roles.includes(0))) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.content}) %>
  <% } %>
  <% if (page?.content?.data) { %>
  <h1 class="text-center mb-3"><%= page.content.title %></h1>
    <% if (page.content.data?.body) { %>
      <div class="content">
        <%- page.content.data.body %>
      </div>
    <% } %>
  <% } %>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: page.footer, 
    currentUrl: page.currentUrl
  }); 
%>