<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page.entity.name,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-4"><%= page.entity.name %></h1>
  <% if (page?.message) { %>
    <div class="alert alert-danger">
      <%= page.message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/media/<%= page.entity.type %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= page?.media?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= page?.media?.title %>" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Alt</label>
      <input type="text" required value="<%= page?.media?.data?.alt %>" name="alt" class="form-control">
    </div>
    <div class="form-group">
      <label for="file">Image</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/media/cms/views/mediaFormView.ejs`,
        {
          type: 'image',
          name: 'file',
          value: page?.media?.data?.file,
        }
      ) %>
      <small class="form-text text-muted">Accept: jpg, png. Max 2.5mb.</small>
    </div>
    <div class="form-group">
      <label for="file">Crops</label>
      <ul id="cropperOptions" class="list-group list-group-horizontal-sm text-center">
        <li class="list-group-item active">
          <a data-aspect-ratio="16/9" data-width="1200" data-height="675" href="#">
            Crop 16/9 <br>
            <small>1200x675</small>
          </a>
        </li>
        <li class="list-group-item">
          <a data-aspect-ratio="4/3" data-width="200" data-height="150" href="#">
            Crop 4/3 <br>
            <small>200x150</small>
          </a>
        </li>
        <li class="list-group-item">
          <a data-aspect-ratio="1/1" data-width="100" data-height="100" href="#">
            Crop 1/1 <br>
            <small>100x100</small>
          </a>
        </li>
      </ul>
      <div class="crop-preview mt-2" id="cropPreview"></div>
      <div id="crop-alert" class="mt-2 alert alert-danger d-none"></div>
      <input id="cropper" name="cropper" value="<%= page?.media?.data?.cropper %>" type="hidden"></input>
    </div>
    <div class="form-check mb-3">
      <% let checked = page?.media?.published ? "checked" : "" %>
      <input <%= checked %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
      <% if (page?.media?._id) { %>
        <div class="mr-2">
          <a href='/admin/<%= page.media.bundle %>/<%= page.media.type %>/delete/<%= page.media._id.$oid %>' class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
<link  href="/libraries/cropperjs/cropper.css" rel="stylesheet">
<script src="/libraries/cropperjs/cropper.js" type="text/javascript"></script>
<script src="/cropper/assets/js/cropper.js" type="text/javascript"></script>