<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page.entity.name,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-4"><%= page.entity.name %></h1>
  <% if (page?.message) { %>
    <div class="alert alert-danger">
      <%= page.message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/media/<%= page.entity.type %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= page?.media?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= page?.media?.title %>" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="file">Image</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/media/cms/views/mediaFormView.ejs`,
        {
          type: 'image',
          name: 'file',
          value: page?.media?.data?.file,
        }
      ) %>
      <small class="form-text text-muted">Accept: jpg, png. Max 2.5mb.</small>
    </div>
    <div class="form-group">
      <label for="file">Crops</label>
      <ul class="nav nav-tabs" id="cropperTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="crop1-tab" data-toggle="tab" href="#crop1" role="tab" aria-controls="crop1" aria-selected="true">Crop 1</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="crop2-tab" data-toggle="tab" href="#crop2" role="tab" aria-controls="crop2" aria-selected="false">Crop 2</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="crop3-tab" data-toggle="tab" href="#crop3" role="tab" aria-controls="crop3" aria-selected="false">Crop 3</a>
        </li>
      </ul>
      <div class="tab-content" id="cropperTabContent">
        <div class="crop-preview tab-pane fade show active" id="crop1" role="tabpanel" aria-labelledby="crop1-tab">tab 1</div>
        <div class="crop-preview tab-pane fade" id="crop2" role="tabpanel" aria-labelledby="crop2-tab">tab 2</div>
        <div class="crop-preview tab-pane fade" id="crop3" role="tabpanel" aria-labelledby="crop3-tab">tab 3</div>
      </div>
    </div>
    <div class="form-check mb-3">
      <% let checked = page?.media?.published ? "checked" : "" %>
      <input <%= checked %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-media-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
      <% if (page?.media?._id) { %>
        <div class="mr-2">
          <a href='/admin/<%= page.media.bundle %>/<%= page.media.type %>/delete/<%= page.media._id.$oid %>' class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
<script src="/libraries/jquery-cropper/jquery-cropper.min.js" type="text/javascript"></script>
<script src="/libraries/jquery-cropper/main.js" type="text/javascript"></script>