<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: entity.name }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <h1 class="text-center mb-3"><%= entity.name %></h1>
  <% if (message) { %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/taxonomy/<%= entity.type.replace("_", "-") %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= term?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= term?.data?.title %>" name="title" class="form-control">
    </div>
    <div class="form-check mb-3">
      <% let checked = term?.published ? "checked" : "" %>
      <input <%= checked %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-term-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>
