<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: 'Users' }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
<% } %>
<div class="container h-100 pt-4">
  <h1 class="text-center mb-3">Users</h1>
  <div>
    <% if (users) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Roles <br> 
            <span class="small">(0 = admin, 1 = writer)</span>
          </th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
      <% for(var i=0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i]._id.$oid %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].roles %></td>
          <td><%= users[i].email %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
    <% } %>
  </div>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>