<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: media.data.title, currentUser: currentUser }) %>
<div class="container">
  <% if (currentUser) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: media}) %>
  <% } %>
  <% if (media.data) { %>
  <h1 class="text-center mb-3"><%= media.data.title %></h1>
    <div class="media text-center">
      <% if (media.data.image) { %>
        <img src="/<%= media.data.image %>" height="200">
      <% } %>
    </div>
  <% } %>
  </div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>