<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`,
  {
    title: page.entity.name,
    currentUser: currentUser,
    main_menu: false,
    currentUrl: false
  });
%>
<div class="container">
  <h1 class="text-center mb-4"><%= page.entity.name %></h1>
  <% if (page.message) { %>
    <div class="alert alert-danger">
      <%= page.message %>
    </div>
  <% } %>
  <form id="entity-form" action='/admin/content/<%= page.entity.type %>/add' method=post>
    <input id="id" name="id" type="hidden" value='<%= page.content?._id?.$oid %>'>
    <div class="form-group">
      <label>Title</label>
      <input type="text" required value="<%= page.content?.title %>" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Carousel</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/entity_reference/views/entityReferenceFormView.ejs`,
        {
          field: 'carousel',
          entities: {
            "block": ["carousel"],
          },
          data: page?.content?.data?.carousel
        }
      ) %>
    </div>
    <div class="form-group">
      <label>References</label>
      <%- await include(
        `${Deno.cwd()}/core/modules/entity_reference/views/entityReferenceFormView.ejs`,
        {
          field: 'references',
          entities: {
            "media": ["image", "video"],
            "block": ["basic_block"],
            "content": ["basic_page"],
          },
          data: page?.content?.data?.references
        }
      ) %>
    </div>
    <div class="form-check mb-3">
      <% let front = page?.content?.data?.front ? "checked" : "" %>
      <input <%= front %> type="checkbox" name="front" value="true" class="form-check-input" id="front">
      <label class="form-check-label" for="front">Front page</label>
    </div>
    <div class="form-check mb-3">
      <% let published = page?.content?.published ? "checked" : "" %>
      <input <%= published %> type="checkbox" name="published" value="true" class="form-check-input" id="published">
      <label class="form-check-label" for="published">Published</label>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-2">
        <button type="submit" class="btn btn-dark">Save</button>
      </div>
      <% if (page?.content?._id) { %>
        <div class="mr-2">
          <a href='/admin/<%= page.content.bundle %>/<%= page.content.type %>/delete/<%= page.content._id.$oid %>' class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </form>
</div>
<%- await include(
  `${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`, 
  {
    footer_menu: false, 
    currentUrl: false 
  }); 
%>
<script src="/core/themes/boostrap/assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/entity-reference/assets/js/templates.js" type="text/javascript"></script>
<script src="/entity-reference/assets/js/entityReference.js" type="text/javascript"></script>
