<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: term.data.title }) %>
<% if (currentUser) { %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminMenu.ejs`, { currentUser: currentUser}) %>
  <%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/menus/adminEntityAction.ejs`, { content: term}) %>
<% } %>
<div class="container h-100">
  <% if (term.data) { %>
  <h1 class="text-center mb-3"><%= term.data.title %></h1>
    <div class="term">
      <% if (term.data.body) { %>
        <%- term.data.body %>
      <% } %>
    </div>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>