<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/header.ejs`, { title: page.term.data.title, currentUser: currentUser }) %>
<div class="container">
  <% if (currentUser) { %>
    <%- await include(`${Deno.cwd()}/core/modules/admin/views/adminEntityActions.ejs`, { content: page.term}) %>
  <% } %>
  <% if (page.term.data) { %>
  <h1 class="text-center mb-3"><%= page.term.data.title %></h1>
    <div class="term">
      <% if (page.term.data.body) { %>
        <%- page.term.data.body %>
      <% } %>
    </div>
  <% } %>
</div>
<%- await include(`${Deno.cwd()}${Deno.env.get('THEME')}templates/layout/footer.ejs`) %>